* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.main-outlet {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background: linear-gradient(135deg, #e0eafc, #cfdef3);
  margin: 0;
  font-family: Arial, sans-serif;
}
