/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layout {
  display: flex;
  flex-direction: column;
}

.main-outlet {
  min-height: 80vh; /* or enough space to keep footer at bottom */
  padding: 1rem;
  transition: all 0.3s ease;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #e0eafc, #cfdef3);
  margin: 0;
  font-family: Arial, sans-serif;
}
