/* Search.css */
.container-search {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.search-form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.selection {
  padding: 0.5rem;
  border: 3px solid black;
  border-radius: 6px;
}

.inpt {
  padding: 0.5rem;
  width: 250px;
  border: 3px solid black;
  border-radius: 6px;
}

.btn-1 {
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.results {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 15px; /* Space between items */
}

.result-item {
  /* other styles */
  width: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.serach-btn {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.serach-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.result-item p {
  word-wrap: break-word; /* Prevents overflow from long words */
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 425px) {
  .search-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .header {
    word-wrap: break-word;
    font-size: 16px;
  }
  .results {
    display: grid;
    grid-template-rows: 1fr;
  }
  .search-results {
    display: grid;
    grid-template-columns: 1fr;
  }
  .pagination {
    padding: 6px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .search-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .header {
    word-wrap: break-word;
    font-size: 16px;
  }
  .results {
    display: grid;
    grid-template-rows: 1fr;
  }
  .search-results {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .pagination {
    padding: 6px;
  }
}
